<h3>Add a new product</h3>
<form>
	<label>Product Name: <input type="text" ng-model="new_product.name"></label>
	<label>Description: <textarea ng-model="new_product.description"></textarea></label>
	<label>Initial Quantity: <input type="number" ng-model="new_product.quantity" min="1" max="50"></label>
	<input type="submit" ng-click="addProduct()" value="Create">
</form>

<input type="text" ng-model="filter_name" placeholder="Search by name ...">

<table>
	<thead>
		<th>Product Name</th>
		<th>Description</th>
		<th>Quantity</th>
		<th>Created Date</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<tr ng-repeat="product in products | filter: filter_name | orderBy: 'created_at'">
			<td>{{product.name}}</td>
			<td>{{product.description}}</td>
			<td>{{product.quantity}}</td>
			<td>{{product.created_at | amDateFormat: 'MMMM Do, YYYY' }}</td>
			<td><button ng-click="removeProduct(product._id)">Remove</button></td>
		</tr>
	</tbody>
</table>